.header{
    display:flex;
    justify-content: space-between;
    border: solid 1px black;

}

.logo{
    width: 200px;
}

.nav-items>ul
{
    font-size: 24px;
    display: flex;
    list-style-type: none;

}
.nav-items>ul>li
{
   padding: 10px;
   margin: 10px;

}
.res-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.res-card{
    margin: 5px;
    padding: 5px;
    width:200px;
    height: 350px;
    
}
.res-card:hover{
    cuursor: pointer;
   border:1px solid black;
}
.search{
    padding: 10px;
}
.res-logo{
width: 140px;
}
.filter-btn{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display:flex;
    flex-wrap: wrap;
}
.shimmer-cards{
  margin: 20px;
  width:280px;
  height:400px;
  background-color: rgb(236, 82, 82);
}
.login-button{
    padding: 0 20px;
    cursor: pointer;
}
.filter{
    display: flex;
}
.user-card{
    padding:10px;
    border:1px solid black;
}